<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Get A Joke</title>
</head>
<body>
    <h1>Get A Joke 😂</h1>
    
        <div class="main">
            <form action="/" method="post">
                <div id="content">
                    <%= jokeContent %>
                </div>
                <button type="submit" class="btn btn-success">Get A Joke</button>
            </form>
            <form action="/speak" method="post">
                <button type="submit" class="btn btn-primary">Listen</button>
            </form>
        </div>
    
    <footer>
        <p>Copyright &copy; 2022: Aditya Desai </p>
    </footer>
</body>
</html>